<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Dépense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Ajouter une Dépense</h1>
    <form action="/add" method="post">
        <label for="item">Article:</label>
        <input type="text" id="item" name="item"><br><br>
        <label for="amount">Montant:</label>
        <input type="text" id="amount" name="amount"><br><br>
        <input type="submit" value="Ajouter">
    </form>
    <a href="/">Retour à la liste des dépenses</a>
</body>
</html>
